extends ../layout

include mixins/rating-mixin
include mixins/info-mixins
include ../mixins/pageheader-mixin


block content
    +pageHeader(name)

    .row
        .col-xs-12.col-md-9
            .row
                .col-xs-12.col-sm-6
                    p.rating
                        + rating(rating)
                    p.address #{address}
                    +timetablePanel(openingHours)
                    +facilitiesPanel(facilities)

                .col-xs-12.col-sm-6
                    +locationPanel(lat,lng)
            .row
                .col-xs-12
                    .panel.panel-primary.review-panel
                        .panel-heading
                            a.btn.btn-default.pull-right(href='/location/review/new') Add review
                            h2.panel-title Customer reviews
                        +reviews(reviews)
        .col-xs-12.col-md-3
            p.lead.
                #{name} is on Loc8r because it has accesible wifi and space to sit down with your laptop and get
                some work done
            p.
                If you've been and like it - or you don't - please leave a review to help other people just like you