extends ../layout

include ./mixins/location-mixin
include ./mixins/pageheader-mixin

block content
    + pageHeader(pageHeader.title, pageHeader.strapline)

    .row
        .col-xs-12.col-sm-8
            .row.list-group
                each location in locations
                    + location(location)
        .col-xs-12.col-sm-4
            p.lead #leadText



